<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Nova ordem de serviço" [options]="false">
      <form [formGroup]="serviceOrderForm" novalidate>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Descrição</label>
              <input type="text" class="form-control custom-input" aria-describedby="emailHelp" placeholder="Digite uma descrição"
                formControlName="description">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Cliente</label>
              <ng-select [items]="customers | async" bindLabel="shortName" bindValue="_id" placeholder="Selecione" formControlName="customerId">
              </ng-select>
            </div>
          </div>
        </div>

        <h5 class="mt-1">Financeiro</h5>
        <hr>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Meio de pagamento</label>
              <ng-select [items]="paymentMethods | async" bindLabel="Description" bindValue="SysId"
                placeholder="Selecione" formControlName="paymentMethodSysId">
              </ng-select>
            </div>
          </div>
          <div class="col-md-6">
            <label for="basic-url">Valor</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">R$</span>
              </div>
              <input type="text" class="form-control custom-input" aria-describedby="basic-addon3" formControlName="value" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Data de vencimento</label>
              <div class="input-group">
                <input class="form-control custom-input" placeholder="Informe a data de vencimento" name="dpStart"
                  formControlName="dueDate" ngbDatepicker #dStart="ngbDatepicker" container="body"
                  readonly>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="dStart.toggle()" type="button"><i
                      class="feather icon-calendar"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="btn-toolbar">
          <div class="btn-group perfect-margin">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" (click)="submmit(false)"><i class="feather icon-save"></i>
                Gravar</button>
            </div>
          </div>
          <div class="btn-group perfect-margin">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button" (click)="submmit(true)"><i class="feather icon-save"></i>
                Gravar e continuar</button>
            </div>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>
